main{
    height: 100vh;
    padding: 8% 16%;
    box-shadow: 5px 5px 8px rgba(19, 19, 24, 0.5);
}

@media only screen and (max-width:720px){
    main{
        height: auto;
        padding: 8% 4%;
        box-shadow: 5px 5px 8px rgba(19, 19, 24, 0.5);
    }

    .flex{
        display: flex;
        flex-direction: column;
    }
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
    align-items: center;
}

.lateralEsquerda{
    margin: 4%;
}

.lateralDireita{
    margin: 5% 0;
}

.loki-dados{
    display: flex;
    align-items: center;
    padding: 4% 0;
}

.loki-dados i{
    font-size:1.5rem;
}

.estrelas{
    font-size: 2.5rem;
    padding: 0 8%;
}

.fi-ss-star{
    color: var(--corPrimaria);
    font-size: 1.5rem;
}

.fiSec{
    color: var(--branco);
}

footer{
    background: var(--corPrimaria);
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
}