main{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main a{
    color: var(--corSecundaria);
}

@media only screen and (max-width:900px){
    main{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
    }

    .lateralEsquerda{
        display: none;
    }
    .flex-centro{
        width: 100%;
    }
}

.lateralEsquerda{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lateralDireita{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--branco);
    padding: 8%;
}

.flex-centro{
    min-width: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.flex-centro > p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(26, 32, 44, 0.75);
}

.espaco-entre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

footer{
    background-color: var(--corPrimaria);
    color: var(--branco200);
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
}