/*referência*/
/*ícones*/
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

/*tipografia*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*id visual*/
:root{
    /*paleta de cores*/
    --corPrimaria:#04C35C;
    --corSecundaria:#2B6CB0;

    --branco:#fff;
    --branco200:#F7FAFC;
    --cinza:#1A202C;

    /*tipografia*/
    --fonteDestaque: 'Merriweather', serif;
    --fonteTexto: 'Lato', sans-serif;

    --borderRadius:4px;
}

/*redefinir*/
*{
    padding: 0; margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--branco200);
    font-family: var(--fonteTexto);
    font-size: 16px;
    font-weight: 400;
}

/*seletor de texto*/
::selection{
    background-color: var(--corPrimaria);
    color: var(--branco);
}

/*barra de rolagem*/
::-webkit-scrollbar{
    width: 8px; height: 8px;
}

::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{
    border-radius: var(--borderRadius);
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--corPrimaria);
}

/*títulos*/
h1,h2{
    color: var(--preto);
    font-family: var(--fonteDestaque);
}

h1{
    font-size: 2rem;
    font-weight: 700;
    line-height: 33px;
    padding: 1rem 0;
    
}

h2{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25rem;
}

/*marca-texto*/
p{
    display: flex;
    flex-direction: row;
    color: var(--cinza);
    font-family: var(--fonteTexto);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 2% 0;
}

a{
    color: var(--branco200);
    font-size: 1rem;
}

a:hover{
    font-weight: bolder;
}

/*botões*/
button{
    width: 100%;
    background-color: var(--corPrimaria);
    color: var(--branco);
    font-family: var(--fonteTexto);
    font-weight: 700;
    font-size: 1.25rem;
    padding: 1.5rem 3rem;
    border: none;
    border-radius: var(--borderRadius);
    margin: 0.75rem 0;
}

button:hover{
    background-color: var(--corSecundaria);
    transition: all 1s;
}

button i{
    font-size: calc(1rem - 0.05rem);
    padding: 0 1rem;
}

.btn-google{
    background-color: var(--cinza);
    color: var(--branco);
}

/*inputs*/
label{
    font-family: var(--fonteTexto);
    font-size: 1rem;
    font-weight: 400;
    padding-top: 4%;
}

input{
    width: 100%;
    background-color: var(--branco);
    color: var(--cinza);
    font-family: var(--fonteTexto);
    font-weight: 400;
    font-size: 1.25rem;
    border: 1px solid rgba(26, 32, 44, 0.1);
    border-radius: var(--borderRadius);
    padding: 1.25rem;
    margin: 0.5rem 0;
}

input::placeholder{
    color: var(--cinza);
    font-family: var(--fonteTexto);
    font-weight: 400;
    font-size: 1.25rem;
}

input[type="checkbox"]{
    accent-color: var(--corSecundaria);
    cursor: pointer;
}

input[type="checkbox"]:checked{
}