/*referência*/
/*ícones*/
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

/*tipografia*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*id visual*/
:root{
    /*paleta de cores*/
    --corPrimaria:#574ae8;
    --corSecundaria:#3ea1db;

    --corCaixa:#fff;
    --corBg:#f9f9f9;
    --corDestaque:#f9f9f9;
    --corConteudo:#717171;
    --corConteudoDestaque:#1a202c;

    /*tipografia*/
    --fonteDestaque: 'Lexend Deca', sans-serif;
    --fonteTexto: 'Inter', sans-serif;

    --borderRadius:4px;
}

.dark-mode:root{
    --corPrimaria:#1b1b1b;
    --corSecundaria:#1f1d1d;

    --corCaixa:#2c2c2c;
    --corBg:#1f1f1f;
    --corDestaque:#cecdcd;
    --corConteudo:#7c7b7b;
    --corConteudoDestaque:#cecdcd;
}

/*redefinir*/
*{
    padding: 0; margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--corBg);
    font-family: var(--fonteTexto);
    font-size: 16px;
}

/*seletor de texto*/
::selection{
    background-color: var(--corPrimaria);
    color: var(--corConteudoDestaque);
}

/*barra de rolagem*/
::-webkit-scrollbar{
    width: 8px; height: 8px;
}

::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{
    border-radius: var(--borderRadius);
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--corSecundaria);
}

/*títulos*/
h1{
    color: var(--corDestaque);
    font-family: var(--fonteDestaque);
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0.5rem 0;
}

h2{
    color: var(--corConteudoDestaque);
    font-family: var(--fonteDestaque);
    font-size: 2rem;
    font-weight: 400;
}

/*marca-texto*/
a{
    color: var(--corDestaque);
}

a:hover{
    font-weight: bold;
}

p{
    color: var(--corConteudo);
    font-family: var(--fonteDestaque);
    font-size: 1.25rem;
    font-weight: 400;
    padding: 0.5rem 0;
}

/*botões*/

/*inputs*/
input[type=search]{
    width: 100%;
    background-color: transparent;
    color: var(--corBg);
    font-family: var(--fonteTexto);
    font-size: 1.25rem;
    font-weight: 500;
    padding: 1.25rem;
    border: none;
}

input[type=search]::placeholder{
    color: rgba(255, 255, 255, 0.5);
    font-family: var(--fonteTexto);
    font-size: 1.25rem;
    font-weight: 500;
}