/* import */
@import url('header.css');

@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* visual ID */
:root{
    --primary-color:#574ae8;
    --secundary-color:#3ea1db;
    --container-color:#fff;
    --background-color:#f9f9f9;
    --highlight-color:#1a202c;
    --title-color:#f9f9f9;
    --text-color:#717171;

    --title-font: 'Lexend Deca', sans-serif;
    --text-font: 'Inter', sans-serif;
}

.dark-mode:root{
    --primary-color:#1b1b1b;
    --secundary-color:#1f1d1d;
    --container-color:#2c2c2c;
    --background-color:#1f1f1f;
    --highlight-color:#cecdcd;
    --title-color:#7c7b7b;
    --text-color:#cecdcd;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
}

/* title */
h1{
    color: var(--title-color);
    font-family: var(--title-font);
    font-size: 2.4rem;
    font-weight: 400;
    padding: 0.5rem 0;
}

h2{
    color: var(--highlight-color);
    font-family: var(--title-font);
    font-size: 2.4rem;
    font-weight: 400;
}

a{
    color: var(--title-color);
}

a:hover{
    font-weight: bold;
}

p{
    font-family: var(--title-font);
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0.5rem 0;
}

/*inputs*/
input{
    width: 100%;
    background-color: transparent;
    color: var(--background-color);
    font-family: var(--text-font);
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.25rem;
    border: none;
    outline: none;
}

input[type=checkbox]{
    visibility: hidden;
}

::placeholder{
    color: rgba(255, 255, 255, 0.5);
    font-family: var(--text-font);
    font-size: 1.6rem;
    font-weight: 500;
}

input:focus::placeholder{
    color: transparent;
    transition: .3s;
}

.width,article{
    width: 53vw;
}

.gradient{
    background-image: linear-gradient(45deg, var(--primary-color), var(--secundary-color));
}

.margin{
    margin: 2%;
}

.border-radius{
    border-radius: 4px;
}

.post-data{
    font-family: var(--title-font);
    font-size: 1.2rem;
    font-weight: 400;
}

article{
    background-color: var(--container-color);
    padding: 3rem;
    margin: 1%;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
}

.quadro-icone{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.quadro-icone .fi{
    font-size: 1.6rem;
    padding: 0 0 0 1.25rem;
}

@media only screen and (max-width:770px){
    .width{
        width: 95vw !important;
    }

    .margin{
        margin: 2%;
    }

    .flex-spacebetween{
        justify-content: space-between;
    }
}