/*referência*/
/*tipografia*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*id visual*/
:root{
    /*paleta de cores*/
    --corPrimaria:#6C63FF;
    --corSecundaria:#D7D4FF;

    --branco:#fff;
    --branco200:#f9f9f9;
    --cinza:#555555;
    --preto:#2A2A2A;

    /*tipografia*/
    --fonteDestaque: 'Merriweather', serif;
    --fonteTexto: 'Lato', sans-serif;

    --borderRadius:4px;
}

/*redefinir*/
*{
    padding: 0; margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--branco200);
    font-family: var(--fonteTexto);
    font-size: 16px;
    font-weight: 600;
}

/*seletor de texto*/
::selection{
    background-color: var(--corPrimaria);
    color: var(--branco);
}

/*barra de rolagem*/
::-webkit-scrollbar{
    width: 8px; height: 8px;
}

::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{
    border-radius: var(--borderRadius);
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--corPrimaria);
}

/*títulos*/
h1,h2,h3{
    color: var(--preto);
    font-family: var(--fonteDestaque);
}

h1{
    font-family: var(--fonteDestaque);
    font-size: 2.5rem;
    font-weight: 400;
}

h2{
    font-size: 2rem;
    font-weight: 400;
    padding: 2rem 0 4rem 0;
}

h3{
    font-family: var(--fonteDestaque);
    font-weight: 700;
    font-size: 1.75rem;
    padding: 20% 15% 2% 15%;
}

/*marca-texto*/
p{
    color: var(--cinza);
    font-family: var(--fonteTexto);
    font-size: 1.25rem;
    font-weight: 400;
    padding: 2% 0;
}

a{
    color: var(--branco200);
}

a:hover{
    font-weight: bolder;
}

/*botões*/
button{
    background-color: var(--corPrimaria);
    color: var(--branco);
    font-family: var(--fonteTexto);
    font-weight: 700;
    font-size: 1.25rem;
    padding: 1rem 3rem;
    border: none;
    border-radius: var(--borderRadius);
    margin: 0.5rem 0;
    box-shadow: 4px 4px 8px rgba(42, 42, 42, 0.25);
}

button:hover{
    background-color: var(--cinza);
    transition: all 1s;
}

/*inputs*/
@media only screen and (max-width:900px){
    input,textarea{
        min-width: 100%;
        color: var(--cinza);
        font-family: var(--fonteTexto);
        font-weight: 400;
        font-size: 1.25rem;
        border: none;
        border-radius: var(--borderRadius);
        padding: 1.25rem;
        margin: 0.5rem;
    }
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input,textarea{
    width: 50%;
    color: var(--cinza);
    font-family: var(--fonteTexto);
    font-weight: 400;
    font-size: 1.25rem;
    border: none;
    border-radius: var(--borderRadius);
    padding: 1.25rem;
    margin: 0.5rem;
}

input[type=submit]{
    background-color: var(--corPrimaria);
    color: var(--branco);
    box-shadow: 4px 4px 8px rgba(42, 42, 42, 0.25);
}

input[type=submit]:hover{
    background-color: var(--cinza);
    transition: all 1s;
}

input::placeholder,textarea::placeholder{
    color: var(--cinza);
    font-family: var(--fonteTexto);
    font-weight: 400;
    font-size: 1.25rem;
}