section{
    background-color: var(--corSecundaria);
}

.fundo-colorido{
    padding: 6% 12%;
}

@media only screen and (max-width:1050px){
    #fundo-colorido{
        display: flex;
        flex-direction: column-reverse;
    }
}

#fundo-colorido{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ladoEsquerdo,.ladoDireito{
    margin: 0 5%;
}

.ladoEsquerdo img{
    width: 100%;
}

@media only screen and (max-width:900px){
    .quebralinha{
        display: none;
    }    
}

.quebralinha{
    display: block;
    height: 1px;
}

@media only screen and (max-width:900px){
    .fundo-claro{
        display: flex;
        flex-direction: column-reverse;
    }

    article{
        margin: 4% !important;
    }
}

.fundo-claro{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--branco200);
    padding: 0 2%;
    margin: 4% auto;
}

article{
    background-color: var(--branco);
    box-shadow: 4px 4px 8px rgba(42, 42, 42, 0.25);
    border-radius: var(--borderRadius);
    margin: 1% 4%;
}

article p{
    text-align: justify;
    padding: 2% 15% 20% 15%;
}

#articleFundo01,#articleFundo02,#articleFundo03,#articleFundo04,#articleFundo05,#articleFundo06{
    height: 25vh;
    border-radius: 4px 4px 0 0;
}

#articleFundo01{
    background-color: #FF6363;
}

#articleFundo02{
    background-color: #63ECFF;
}

#articleFundo03{
    background-color: #F363FF;
}

#articleFundo04{
    background-color: #63FF73;
}

#articleFundo05{
    background-color: #FFDD63;
}

#articleFundo06{
    background-color: #6663FF;
}

footer{
    background-color: var(--corPrimaria);
    color: var(--branco200);
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
}