/* reset **************************************************/
*{
    padding: 0; 
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* style guide */
:root{
    /* theme color */
    --dark-color:#2a2a2a;
    --dark-gray-color:#555;
    --gray-color:#f9f9f9;
    --white-color:#fff;

    /* system color */
    --message-support: #2962ff;
    --sucess-support: #0bb078;
    --warning-support: #ffce52;
    --error-support: #f03d3d;
    --information-support: #e0e0e0;
}

/* pattern page **************************************************/
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

/* selection text **************************************************/
::selection{
    background-color: var(--primary-color);
}

/* scrollbar **************************************************/ 
::-webkit-scrollbar{
    width: 8px; height: 8px;
}

::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{
    border-radius: .4rem;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
}

/* display **************************************************/
.block{
    display: block;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-column{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex-column-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flex-center-center-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-center-center-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flex-space-between-center-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.flex-spacearound-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-spaceevenly-center{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-spaceevenly-center-column{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.flex-spacebetween{
    display: flex;
    justify-content: space-between;
}

.flex-spacebetween-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-spacebetween-column{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.flex-spacebetween-center-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.flex-end{
    display: flex;
    align-items: end;
}

