/*referência*/
/*tipografia*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*id visual*/
:root{
    /*paleta de cores*/
    --branco:#f9f9f9;
    --branco200:#EBE9EA;
    --cinza:#474747;
    --preto:#181818;

    /*tipografia*/
    --fonteTexto: 'Montserrat', sans-serif;

    --tamanhoFonte:16px;

    --borderRadius:4px;
}

/*redefinir*/
*{
    padding: 0; margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--branco);
    color: var(--preto);
    font-family: var(--fonteTexto);
    font-size: var(--tamanhoFonte);
}

/*seletor de texto*/
::selection{
    background-color: var(--cinza);
    color: var(--branco);
}

/*barra de rolagem*/
::-webkit-scrollbar{
    width: 8px; height: 8px;
}

::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{
    border-radius: var(--borderRadius);
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--preto);
}

/*títulos*/
h1,h3{
    text-align: center;
}

h1{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.5rem 0;
}

h2{
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem 0;
}

h3{
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem;
}

/*marca-texto*/
a{
    color: var(--branco);
}

a:hover{
    font-weight: bold;
}

p{
    font-size: 1.25rem;
    font-weight: 500;
    padding: 1.25rem 0;
    line-height: 2rem;
}

/*botões*/

/*inputs*/