.cupom,footer{
    background-color: var(--preto);
    color: var(--branco);
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
}

@media only screen and (max-width:720px){
    .quebraLinha{
        display: none;
    }
}

main{
    width: 100%;
}

.quebraLinha{
    display: block;
    min-height: 1px;
}

.fundo-imagem{
    background-color: var(--preto);
    background-image: url('../midia/Air-Jordan-1-Retro-High-OG-Wmns-TWIST-Feminino\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.blur-imagem{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: rgba(24, 24, 24, 0.5);
    backdrop-filter: blur(4px);
    padding: 6%;
}

.blur-imagem > h2,.blur-imagem > p{
    color: var(--branco);
}

.blur-imagem > p{
    font-weight: 600;
}

@media only screen and (max-width:720px){
    .lista-produtos{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 4%;
}

.lista-produtos{
    display: flex;
}

.lista-produtos img{
    width: 100%;
}

#tenis01,#tenis02,#tenis03,#tenis04,#tenis05,#tenis06,#tenis07,#tenis08{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--branco200);
    border-radius: var(--borderRadius);
    padding: 6% 4%;
    margin: 2%;
}