@media only screen and (max-width:720px){
    .quebraLinha{
        display: none;
    }

    .lista-produtos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "t01 t02"
        "t03 t04" 
        "t05 t06"
        "t07 t08";
    }

    .lista-produtos img{
        min-width: 35vw;
    }

    #tenis01,#tenis02,#tenis03,#tenis04,#tenis05,#tenis06,#tenis07,#tenis08{
        min-width: 40vw; min-height: 40vh;
    }
}

.quebraLinha{
    display: block;
    min-height: 1px;
}

.fundo-imagem{
    min-height: 60vh;
    background-color: var(--preto);
    background-image: url('../midia/Air-Jordan-1-Retro-High-OG-Wmns-TWIST-Feminino\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.blur-imagem{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: rgba(24, 24, 24, 0.5);
    backdrop-filter: blur(2px);
    padding: 8%;
}

.blur-imagem > h2,.blur-imagem > p{
    color: var(--branco);
}

.blur-imagem > p{
    font-weight: 600;
}

.lista-produtos{
    width: 90vw; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "t01 t02 t03 t04" 
    "t05 t06 t07 t08";
    gap: 10% 2%;
    padding: 4%;
    margin:auto auto 8% auto;
}

.lista-produtos img{
    width: 35vw;
}

#tenis01,#tenis02,#tenis03,#tenis04,#tenis05,#tenis06,#tenis07,#tenis08{
    width: 40vw; height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--branco200);
    border-radius: var(--borderRadius);
}

#tenis01{
    grid-area: t01;
}

#tenis02{
    grid-area: t02;
}

#tenis03{
    grid-area: t03;
}

#tenis04{
    grid-area: t04;
}

#tenis05{
    grid-area: t05;
}

#tenis06{
    grid-area: t06;
}

#tenis07{
    grid-area: t07;
}

#tenis08{
    grid-area: t08;
}

.cupom,footer{
    background-color: var(--preto);
    color: var(--branco);
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
}