@import url(style.css);

/*referência*/
/*tipografia*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*redefinir*/
*{
    padding: 0; margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*id visual*/
:root{
    /*paleta de cores*/
    --cor-primaria:#6C63FF;
    --cor-secundaria:#D7D4FF;

    --cor-sobreposta:#fff;
    --cor-fundo:#f9f9f9;
    --cor-destaque:#2A2A2A;
    --cor-conteudo:#555555;

    /*tipografia*/
    --fonte-destaque: 'Merriweather', serif;
    --fonte-conteudo: 'Lato', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--fonte-conteudo);
    font-size: 16px;
    font-weight: 600;
}

/*seletor de texto*/
::selection{
    background-color: var(--cor-primaria);
    color: var(--cor-sobreposta);
}

/*barra de rolagem*/
::-webkit-scrollbar{
    width: 8px; height: 8px;
}

::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{
    border-radius: 4px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--cor-primaria);
}

/*títulos*/
h1,h2,h3{
    color: var(--cor-destaque);
    font-family: var(--fonte-destaque);
}

h1,h2{
    font-weight: 400;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
    padding: 2rem 0 4rem 0;
}

h3{
    font-weight: 700;
    font-size: 1.75rem;
    padding: 20% 15% 2% 15%;
}

/*marca-texto*/
p{
    color: var(--cor-conteudo);
    font-family: var(--fonte-conteudo);
    font-size: 1.25rem;
    font-weight: 400;
    padding: 2% 0;
}

a{
    color: var(--cor-fundo);
}

a:hover{
    font-weight: bolder;
}

/*inputs*/
button{
    font-weight: 700;
    padding: 1rem 3rem;
}

button,input,textarea{
    width: 50%;
    border: none;
    border-radius: 4px;
    padding: 1.25rem;
    margin: 0.5rem 0;
    outline: none;
}

button,input,textarea,::placeholder{
    color: var(--cor-conteudo);
    font-family: var(--fonte-conteudo);
    font-weight: 400;
    font-size: 1.25rem;
}

@media only screen and (max-width:900px){
    input,textarea{
        min-width: 100%;
    }
}

input[type=submit]{
    background-color: var(--cor-primaria);
    color: var(--cor-sobreposta);
    box-shadow: 4px 4px 8px rgba(42, 42, 42, 0.25);
}

button:hover,input[type=submit]:hover{
    background-color: var(--cor-conteudo);
    transition: all 1s;
}

/*rodapé*/
footer{
    background-color: var(--cor-secundaria);
    color: var(--cor-conteudo);
    font-size: 1rem;
    padding: 1rem;
}

#copyright{
    text-align: center;
    text-transform: uppercase;
}